.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 720px;
  min-height: 539px;
  border-radius: var(--l-1);
  background-color: var(--bg-primary);
  padding: var(--l-1);
  padding-bottom: var(--l-2);
  display: flex;
  flex-flow: column;
  z-index: 1000;
}
.Modal-Header {
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
