.LoginWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
.LoginContainer {
  display: flex;
  flex-direction: column;
}
.FormContainer {
  margin-top: var(--l-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-6);
}

.OptionMenuContainer {
  display: flex;
  flex-direction: column;
  margin-top: var(--l-3);
}

.OptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
