.IngredientsColumn {
  display: flex;
  flex-flow: column;
  max-width: 600px;
  max-height: 912px;
  margin-block: var(--l-1);
}
.IngredientsColumn-Header {
  text-align: left;
}
.IngredientsColumn-Tab {
  display: flex;
  margin-top: var(--s-5);
}
.IngredientsColumn-Body {
  display: flex;
  flex-flow: column;
  gap: var(--l-1);
  margin-top: var(--l-1);
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--text-secondary) var(--bg-secondary);
}
.IngredientsArea {
  display: flex;
  flex-flow: column;
  gap: var(--s-6);
}
.IngredientsArea-Header {
  text-align: left;
}
.IngredientsArea-List {
  display: flex;
  gap: var(--s-6);
  flex-wrap: wrap;
}
